
###> symfony/framework-bundle ###
/.env.local
/.env.local.php
/.env.*.local
/config/secrets/prod/prod.decrypt.private.php
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###

###> lexik/jwt-authentication-bundle ###
/config/jwt/*.pem
###< lexik/jwt-authentication-bundle ###
# PHPStorm / JetBrains IDE
.idea/
*.iml
*.iws
*.ipr
.idea_modules/

# Fichiers de configuration spécifiques à PHPStorm
.phpstorm.meta.php
phpstorm.phar

# Autres fichiers/dossiers potentiellement générés par PHPStorm
out/
.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
